name: Build Docker Image

on:
  pull_request:
    branches:
      - master

jobs:
  push_to_registry:
    name: Build Docker Image
    runs-on: ubuntu-20.04
    steps:
      -
        name: Check out the repo
        uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          pull: true